name: Continous Deployment

on:
  push:
    branches:
      - "main"

jobs:
  Continous_deployment:
    name: Continous Deployment SSH
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ls local
      run: ls -l
#    - name: SSH Connection
#      uses: garygrossgarten/github-action-ssh@release
#      with:
#        command: scp -r ./html /var/www/html
#        host: ${{ secrets.HOST }}
#        username: ubuntu
#        Key: ${{ secrets.SSH}}
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ubuntu
        key: ${{ secrets.SSH }}
        script: scp -r ./html /var/www/html