name: Continous Deployment

on:
  push:
    branches:
      - "main"

jobs:
  Continous_deployment:
    name: Continous Deployment Heroku
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: SSH Connection
      uses: garygrossgarten/github-action-ssh@release
      with:
        command: scp -r ./html /var/www/html
        host: ${{ secrets.HOST }}
        username: ubuntu
        privateKey: ${{ secrets.SSH}}